certifi==2019.6.16
chardet==3.0.4
cloudpickle==1.2.1
cycler==0.10.0
docopt==0.6.2
future==0.17.1
idna==2.8
iso8601==0.1.12
kiwisolver==1.1.0
labjackpython==2.0.0
matplotlib==3.1.1
numpy==1.17.1
oscilloscope==0.0.4
pipreqs==0.4.9
psutil==5.6.3
pyparsing==2.4.2
python-dateutil==2.8.0
python-usbtmc==0.8
pyusb==1.0.2
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
serial==0.0.97
six==1.12.0
tblib==1.4.0
urllib3==1.25.3
yarg==0.1.9
zproc==0.9.5
